[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/cannontwo/imgui.git
[submodule "thirdparty/implot"]
	path = thirdparty/implot
	url = https://github.com/cannontwo/implot.git
[submodule "cannon/research"]
	path = cannon/research
	url = https://github.com/cannontwo/research.git
[submodule "thirdparty/HighFive"]
	path = thirdparty/HighFive
	url = https://github.com/BlueBrain/HighFive.git
[submodule "thirdparty/tinycolormap"]
	path = thirdparty/tinycolormap
	url = https://github.com/yuki-koyama/tinycolormap.git
