[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/cannontwo/imgui.git
[submodule "thirdparty/implot"]
	path = thirdparty/implot
	url = https://github.com/cannontwo/implot.git
[submodule "cannon/research"]
	path = cannon/research
	url = https://github.com/cannontwo/research.git
